// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/dist/css/bootstrap.min.css';




#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    flex-shrink: 0;
    background-color: dimgrey;

    ul {
        display: flex;
        justify-content: center;
        margin: 0;

        li {
            position: relative;
            a {
                padding: 2rem 3rem;
                color: white;
                text-decoration: none;
                display: inline-block;

                &:hover {
                    color: dimgrey;
                    cursor: pointer;
                    text-decoration: underline;
                    background-color: white;
                    transition: all .3s ease;
                }

            }
            &>a:hover::after {
                content: "";
                height: 8px;
                background-color: dimgrey;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                border: 1px solid white;
                
            }

        }
    }
}

main {
    flex-grow: 1;
}


table {

    thead {
        border-bottom: 2px solid black;
    }
    tr{
        
        th,td {
            padding: 1rem;
        }
    }

    tbody {
        tr{
            td:not(:last-child){
                border-right: 1px solid lightgrey;
            }
        }
    }
}
.input-group {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    &>.form-control {
        width: 100%;
    }
}

.button-group {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.arrow-moving {
    
    cursor: pointer;
    padding: 0 1rem;
    color: black;

    &>i {
        transition: transform 1s ease;
    }

    &:hover>i {
        transform: translateX(-10px);
        color: black;
    }
}

.group-btn-table {
    display: flex;

    &>*:not(:last-child) {
        margin-right: 1rem;
    }
}

.link-new-post {
    padding: 1rem;
        translate: all .1s ease;
        vertical-align:middle;
    &:hover:after {
        content: "Inserisci nuovo post";
        padding: 1rem;
        translate: all .3s ease;
    }
}